.counter {
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 1px;
    position: absolute;
    margin-bottom: -16px;
    top: 275px;
    width: 22px;
    height: 16px;
    text-align: center;
    left: 114px;
}