.endgame {
    width: 85px;
    padding: 9.5px;
    background-color: transparent;
    border-radius: 3px;
    opacity: 0.2;
    border: none;
    position: relative;
    top: -35px;
    margin-bottom: -19px;
    left: 134px;
    z-index: 3;

}

.endgame:active {
    background-color: black;
}

.endgame:hover {
    background-color: black;
}

.endgame-modal div:nth-child(2) div {
    position: relative;
    margin-bottom: -100px;
    top: -135px;
}

.endgame-modal div:nth-child(2) div p {
    margin-bottom: -100px;
    width: 300px;
    position: relative;
    left: 25px;
    top: -95px;
}

.endgame-modal div:nth-child(2) div div {
    position: relative;
    top: 17px;
}


.endgame-modal div:nth-child(2) div div button:active {
    background-color: black;
}