.points {
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 1px;
    position: absolute;
    top: 170px;
    width: 89px;
    height: 17px;
    margin-bottom: -50px;
    text-align: center;
    left: 213px;

}