.score {
    font-size: 15px;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-bottom: -17px;
    position: absolute;
    top: 274px;
    width: 89px;
    height: 17px;
    text-align: center;
    left: 219px;
}