.success {
    animation: fade-grow .5s ease-in-out;
    margin-bottom: -42.4px;
    position: relative;
    top: -235px;
    z-index: 3;
}

@keyframes fade-grow {
    from, to {
        transform: scale(1, 1);
        opacity: 0;
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);

    }

    100% {
        opacity: 1;
    }
}