.btn-addcard:focus {
    outline: none;
    box-shadow: none;
}

.btn-addcard {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 48px;
    height: 60px;
    top: 231px;
    left: 39px;
    border-radius: 5px;
    margin-bottom: -62px;

}

.btn-addcard:active {
    opacity: 0.8;
}

.card-window:active {
    opacity: 0.8;
}


.card-window-1 {
    position: absolute;
    width: 38px;
    left: 10px;
    top: 5px;
}

.card-window-2 {
    position: absolute;
    width: 39px;
    left: 9px;
    top: 4px;
}

.card-window-3 {
    position: absolute;
    width: 42px;
    left: 6px;
    top: 1px;
}