.modal {
    width: 350px;
    position: absolute;
    bottom: 140px;
    left: 0;
    z-index: 2;
    animation: flash .1s ease-in;
}

.modal img {
    width: 330px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 61px;
    left: 106px;
    gap: 21px;
}

.btn-modal {
    position: relative;
    padding: 9.5px 27.5px;
    border-radius: 2px;
    background-color: transparent;
    opacity: 0.2;
    border-radius: 5px;

}

.btn-modal:active {
    background-color: #000;

}

.btn-modal:hover {
    background-color: #000;

}

.modal-text {
    position: absolute;
    left: 67.5px;
    top: 17.5px;
    letter-spacing: 1px;
    bottom: 67.5px;
    font-size: 15px;
    opacity: 0.8;
    text-align: center;
}

.overlay {
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}


@keyframes flash {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}