.rules {
    position: absolute;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: left;
    top: 150px;
    left: 25px;
    opacity: 0.8;
    line-height: 16px;
    margin-bottom: -150px;
}

.btns {
    position: absolute;
    width: fit-content;
    top: 301px;
    left: 260px;
    opacity: 0.2;
}

.btn-move {
    background-color: transparent;
    border: none;
    margin-left: 9px;
    padding: 8px 10px;
    border-radius: 50%;

}

.btn-move:active {
    background-color: black;
}

.btn-move:hover {
    background-color: black;
}