.secure-mode {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 20px;
    position: absolute;
    left: 283px;
    top: 340px;
    background-repeat: no-repeat;
    background-position: center;

}