.secure-mode {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 20px;
    position: relative;
    left: 282px;
    top: -38.5px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -20px;
}