.start-board {
    width: 345px;
}

.start-board:focus {
    outline: none;
    box-shadow: none;
}

.start-game {
    background-color: transparent;
    width: 87px;
    height: 20px;
    border-radius: 5px;
    border: none;
    opacity: 0.2;
    position: absolute;
    top: 341px;
    left: 37px;
    margin-bottom: -25px;

}



.start-game:active {
    background-color: black;
}

.start-game:hover {
    background-color: black;
}

.start-game-modal div:nth-child(2) div {
    position: absolute;
    top: 140px;
    left: -85px;
}

.start-game-modal div:nth-child(2) div img {
    width: 500px;
    height: 110px;
}

.start-game-modal div:nth-child(2) div p {
    left: 15px;
    width: 465px;
    top: 10px;
    line-height: 15px;

}

.start-game-modal div:nth-child(2) div div {
    gap: 26px;
    top: 69px;
    background-color: transparent;
    left: 170px;
    position: absolute;

}

.start-game-modal div:nth-child(2) div div button {
    padding: 10px 34px;
    border: none;
    background-color: transparent
}

.start-game-modal div:nth-child(2) div div button:active {
    background-color: black;
}

.start-game-modal div:nth-child(2) div div button:hover {
    background-color: black;
}

@media only screen and (max-width: 520px) {
    .start-game-modal div:nth-child(2) div img {
        width: 340px;
        height: 110px;
        position: absolute;
        left: 87px;
    }

    .start-game-modal div:nth-child(2) div p {
        left: 95px !important;
        font-size: 12px;
        width: 315px;
        top: 15px;
        line-height: 15px;

    }

    .start-game-modal div:nth-child(2) div div {
        gap: 19px;
        top: 68px;
        left: 204px;

    }

    .start-game-modal div:nth-child(2) div div button {
        padding: 10px 22px;

    }
}