.container {
  position: fixed;
  width: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  background-image: url("../../images/background.png");
  border: 3px groove #000;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #ccc;
  background-color: #000;
  color: #fff;
}

.saveButton {
  padding: 8px 16px;
  margin-top: 15px;
  width: 70px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  margin-right: 10px;
}
.requireButton {
  padding: 6px 8px;
  margin-top: 15px;
  width: max-content;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.3;
  z-index: 999;
}
.badpassword {
  color: #c00;
  position: absolute;
  bottom: 0;
}
.exitbutton {
  background: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.exitinfo {
  background: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
.infobutton {
  background: none;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.infoText {
  position: absolute;
  width: 250px;
  height: 150px;
  background-image: url("../../images/background.png");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.date {
  position: absolute;
  font-style: italic;
  left: 10px;
  bottom: 10px;
  color: #fff;
}
.safety {
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 14px;
  width: 80%;
  color: rgb(255, 0, 0);
  animation: grow 3s infinite linear;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
