section {
    display: grid;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;

}


.cards {
    display: flex;
    justify-content: center;
    width: 350px;
    align-items: center;
    top: 57px;
    left: -1px;
    margin-bottom: -150px;
    position: absolute;
    gap: 16.5px;

}

.container {
    position: relative;
    width: 345px;
    height: 377.01px;
}

.card-selected {
    display: flex;

    left: 111px;
    top: 146px;
    margin-bottom: -150px;
    position: absolute;
    gap: 0;
    width: max-content;
    overflow: hidden;
}

.in-game {
    display: grid;
    position: relative;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;


}

h1 {
    letter-spacing: 2px;
    font-size: 30px;
}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 20px;
    }
}